<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '718718011530888',
            xfbml      : true,
            version    : 'v2.5'
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<div class="body-bg{f:if(condition:settings.navigation.type, then:' body-bg-{settings.navigation.type}')}">

    <f:link.page class="sr-only sr-only-focusable" section="content">
        {f:translate(key: 'skiptomaincontent', extensionName: 'theme')}
    </f:link.page>
    <f:render partial="Navigation/Main" arguments="{_all}"/>
    <f:render partial="Navigation/Breadcrumb" arguments="{_all}"/>

    <div id="content" class="main-section">
        <!--TYPO3SEARCH_begin-->
        <section id="p{data.uid}" class="{pageClass}">
            <f:render section="Main"/>
        </section>
        <!--TYPO3SEARCH_end-->
    </div>

    <f:render partial="Structure/Footer" arguments="{_all}"/>

</div>
