<f:layout name="Default"/>
<f:section name="Header"></f:section>
<f:section name="Main">


    <f:if condition="{page.constants.isNewsView}">
        <f:then>
            <f:format.raw>{data.bodytext}</f:format.raw>
        </f:then>
    </f:if>
</f:section>
