{namespace julian = Julian\Theme\ViewHelpers}
<f:layout name="Default"/>
<f:section name="Header">

    <f:render partial="Header/All" arguments="{_all}" />

</f:section>
<f:section name="Main">

    <f:switch expression="{data.layout}">
        <f:case value="120"><julian:var name="tableClass" value="table-striped" /></f:case>
        <f:case value="130"><julian:var name="tableClass" value="table-bordered" /></f:case>
        <f:case value="140"><julian:var name="tableClass" value="table-hover" /></f:case>
        <f:case value="150"><julian:var name="tableClass" value="table-condensed" /></f:case>
        <f:case default="TRUE"><julian:var name="tableClass" value="" /></f:case>
    </f:switch>

    <f:if condition="{table}">
        <table class="table {tableClass}">
            <f:if condition="{data.table_caption}">
                <caption>{data.table_caption}</caption>
            </f:if>
            <f:for each="{table}" as="row" iteration="rowIteration">
                <f:if condition="{rowIteration.isFirst}">
                    <f:then>
                        <f:if condition="{data.table_header_position} == 1">
                            <f:then>
                                <thead>
                            </f:then>
                            <f:else>
                                <tbody>
                            </f:else>
                        </f:if>
                    </f:then>
                    <f:else>
                        <f:if condition="{rowIteration.isLast}">
                            <f:if condition="{data.table_tfoot}">
                                </tbody>
                                <tfoot>
                            </f:if>
                        </f:if>
                    </f:else>
                </f:if>
                <tr>
                    <f:for each="{row}" as="cell" iteration="columnIteration">
                        <f:render section="Cell" arguments="{_all}" />
                    </f:for>
                </tr>
                <f:if condition="{rowIteration.isFirst}">
                    <f:then>
                        <f:if condition="{data.table_header_position} == 1">
                            </thead>
                            <tbody>
                        </f:if>
                    </f:then>
                    <f:else>
                        <f:if condition="{rowIteration.isLast}">
                            <f:if condition="{data.table_tfoot}">
                                <f:then>
                                    </tfoot>
                                </f:then>
                                <f:else>
                                    </tbody>
                                </f:else>
                            </f:if>
                        </f:if>
                    </f:else>
                </f:if>

            </f:for>
        </table>
    </f:if>

</f:section>

<f:section name="Cell">

    <f:if condition="{rowIteration.isFirst}">
        <f:then>
            <f:if condition="{data.table_header_position} == 1">
                <f:then>
                    <th>
                </f:then>
                <f:else>
                    <f:if condition="{columnIteration.isFirst}">
                        <f:then>
                            <f:if condition="{data.table_header_position} == 2">
                                <f:then>
                                    <th>
                                </f:then>
                                <f:else>
                                    <td>
                                </f:else>
                            </f:if>
                        </f:then>
                        <f:else>
                            <td>
                        </f:else>
                    </f:if>
                </f:else>
            </f:if>
        </f:then>
        <f:else>
            <f:if condition="{columnIteration.isFirst}">
                <f:then>
                    <f:if condition="{data.table_header_position} == 2">
                        <f:then>
                            <th>
                        </f:then>
                        <f:else>
                            <td>
                        </f:else>
                    </f:if>
                </f:then>
                <f:else>
                    <td>
                </f:else>
            </f:if>
        </f:else>
    </f:if>

    <f:format.nl2br>{cell}</f:format.nl2br>

    <f:if condition="{rowIteration.isFirst}">
        <f:then>
            <f:if condition="{data.table_header_position} == 1">
                <f:then>
                    </th>
                </f:then>
                <f:else>
                    <f:if condition="{columnIteration.isFirst}">
                        <f:then>
                            <f:if condition="{data.table_header_position} == 2">
                                <f:then>
                                    </th>
                                </f:then>
                                <f:else>
                                    </td>
                                </f:else>
                            </f:if>
                        </f:then>
                        <f:else>
                            </td>
                        </f:else>
                    </f:if>
                </f:else>
            </f:if>
        </f:then>
        <f:else>
            <f:if condition="{columnIteration.isFirst}">
                <f:then>
                    <f:if condition="{data.table_header_position} == 2">
                        <f:then>
                            </th>
                        </f:then>
                        <f:else>
                            </td>
                        </f:else>
                    </f:if>
                </f:then>
                <f:else>
                    </td>
                </f:else>
            </f:if>
        </f:else>
    </f:if>

</f:section>