{namespace julian = Julian\Theme\ViewHelpers}
<f:layout name="Default"/>
<f:section name="Header">

    <f:render partial="Header/All" arguments="{_all}" />

</f:section>
<f:section name="Main">

    <julian:externalMedia url="{data.external_media_source}" class="embed-responsive-item">
        <f:if condition="{externalMedia}">
            <f:then>
                <div class="embed-responsive embed-responsive-{data.external_media_ratio}">
                    <f:format.raw>{externalMedia}</f:format.raw>
                </div>
            </f:then>
            <f:else>
                <div class="alert alert-warning">
                    <f:translate key="externalmediaunsupported" extensionName="theme" arguments="{0: '<strong>{data.external_media_source}</strong>'}" />
                </div>
            </f:else>
        </f:if>
    </julian:externalMedia>

</f:section>
