{namespace julian = Julian\Theme\ViewHelpers}

<br>

<julian:externalMedia url="{external_media_source}" class="embed-responsive-item">
    <f:if condition="{externalMedia}">
        <f:then>
            <div style="max-width: 400px;">
                <div class="embed-responsive embed-responsive-{external_media_ratio}">
                    <f:format.raw>{externalMedia}</f:format.raw>
                </div>
            </div>
        </f:then>
        <f:else>
            <div class="alert alert-warning">
                <f:translate key="externalmediaunsupported" extensionName="theme" arguments="{0: '<strong>{external_media_source}</strong>'}" />
            </div>
        </f:else>
    </f:if>
</julian:externalMedia>