{namespace julian = Julian\Theme\ViewHelpers}

<br>

<julian:explode data="{bodytext}" as="rows">
    <f:if condition="{rows}">
        <ul>
            <f:for each="{rows}" as="content" iteration="iterateRow">
                <li>{content}</li>
            </f:for>
        </ul>
    </f:if>
</julian:explode>
