{namespace julian = Julian\Theme\ViewHelpers}
<f:switch expression="{data.section_frame}">
    <f:case value="1"><julian:var name="sectionClass" value="invisible" /></f:case>
    <f:case value="5"><julian:var name="sectionClass" value="rulerbefore" /></f:case>
    <f:case value="6"><julian:var name="sectionClass" value="rulerafter" /></f:case>
    <f:case value="10"><julian:var name="sectionClass" value="col-xs-10 col-xs-push-1" /></f:case>
    <f:case value="11"><julian:var name="sectionClass" value="col-xs-9 col-xs-push-3" /></f:case>
    <f:case value="12"><julian:var name="sectionClass" value="col-xs-9" /></f:case>
    <f:case value="20"><julian:var name="sectionClass" value="well" /></f:case>
    <f:case value="21"><julian:var name="sectionClass" value="jumbotron" /></f:case>
    <f:case default="TRUE"><julian:var name="sectionClass" value="default" /></f:case>
</f:switch>

<div id="c{data.uid}" class="frame {sectionClass}">
    <f:if condition="{data._LOCALIZED_UID}"><a id="c{data._LOCALIZED_UID}"></a></f:if>
    <f:render section="Header" />
    <f:render section="Main" />
</div>
