{namespace julian = Julian\Theme\ViewHelpers}
<figure class="image">
    <f:if condition="{file.link}">
        <f:then>
            <f:link.typolink parameter="{file.link}" title="{file.title}">
                <f:render partial="Media/Rendering/Image" arguments="{file: file, settings: settings}" />
            </f:link.typolink>
        </f:then>
        <f:else>
            <f:if condition="{data.image_zoom}">
                <f:then>
                    <a href="{f:uri.image(image: file, maxHeight: '1200', maxWidth: '1200')}" title="{file.title}" class="{settings.lightbox.cssClass}" data-lightbox-width="{julian:lastImageInfo(property: 'width')}" data-lightbox-height="{julian:lastImageInfo(property: 'height')}" rel="{settings.lightbox.prefix}-{data.uid}">
                        <f:render partial="Media/Rendering/Image" arguments="{file: file, settings: settings}" />
                    </a>
                </f:then>
                <f:else>
                    <f:render partial="Media/Rendering/Image" arguments="{file: file, settings: settings}" />
                </f:else>
            </f:if>
        </f:else>
    </f:if>
    <figcaption class="caption">
        {file.description}
    </figcaption>
</figure>
